<!DOCTYPE html>
html(lang="cn")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="renderer", content="webkit")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/b847b7a5.agreement.css")
    block header

  body
    block content

    block footer