doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title englisg
		link(rel="stylesheet", href="/lib/bootstrap-3.3.5-dist/css/bootstrap.css")
	body
		//- extends ./header
		block content
		//- extends ./footer
		script(src="")
		script(src="/lib/bootstrap-3.3.5-dist/js/bootstrap.js")
		block footerScript
	