doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title englisg
		link(rel="stylesheet", href="/lib/bootstrap-3.3.5-dist/css/bootstrap.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		#header
			nav.navbar.navbar-default
				.container
					.navbar-header
						a(href="#")
							img.logo(src="img/logo.png", alt="")
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.ml40
							li.active
								a(href="#") 首页
							li
								a(href="#") 爱忧思英语
							li
								a(href="#") 课程体系
							li
								a(href="#") 核心课程
							li
								a(href="#") 外教团队
							li
								a(href="#") 上课流程
							li
								a(href="#") 学员风采
						.nav.navbar-nav.navbar-right
							.nav-btn-group
								a(href="#")
									i.icon-qq
									span.qq QQ在线咨询
								.pull-right
									a(href="#") 登录
									a.register(href="#") 注册
							.nav-tel
								i.icon-tel
								span.tel 400-618-1651




		block content
		#footer
			.container
				.footer-left.pull-left
					img(src="img/logo.png", alt="爱忧思英语")
				.footer-center.pull-left
					ul.clearfix
						li
							a(href="#") 儿教论坛
						li
							a(href="#") 母婴论坛
						li
							a(href="#") 亲子乐园
						li
							a(href="#") 妈咪网
						li
							a(href="#") 广州妈咪
					p.copyright COPYRIGHT@深圳前海芒果科技有限公司<br>ALLRIGHT REVERSED
					.social
						a(href="#")
							i.iconfont &#xe619;
						a(href="#")
							i.iconfont &#xe60a;
						a(href="#")
							i.iconfont &#xe602;
					
				.footer-right.pull-left
					p.p1 欢迎致电
					span.tel 400-618-1651
					p.p2 拨打电话可免费获得咨询
					p.icp 粤ICP备 09063190号
		script(src="/lib/jquery/dist/jquery.min.js")
		script(src="/lib/bootstrap-3.3.5-dist/js/bootstrap.js")
		block footerScript
	